# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
stream_closed_captioner_phoenix-*.tar

# If NPM crashes, it generates a log, let's ignore it too.
npm-debug.log

# The directory NPM downloads your dependencies sources to.
/assets/node_modules/

# Since we are building assets from assets/,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
/priv/static/
/priv/static/assets/
TwitchStreamCaptioner_production*
.env*
node_modules/.bin/sha.js
node_modules/eventemitter3/index.d.ts
node_modules/eventemitter3/index.js
node_modules/eventemitter3/LICENSE
node_modules/eventemitter3/package.json
node_modules/eventemitter3/README.md
node_modules/eventemitter3/umd/eventemitter3.js
node_modules/eventemitter3/umd/eventemitter3.min.js
node_modules/eventemitter3/umd/eventemitter3.min.js.map
node_modules/inherits/inherits_browser.js
node_modules/inherits/inherits.js
node_modules/inherits/LICENSE
node_modules/inherits/package.json
node_modules/inherits/README.md
node_modules/safe-buffer/index.d.ts
node_modules/safe-buffer/index.js
node_modules/safe-buffer/LICENSE
node_modules/safe-buffer/package.json
node_modules/safe-buffer/README.md
node_modules/sha.js/.travis.yml
node_modules/sha.js/bin.js
node_modules/sha.js/hash.js
node_modules/sha.js/index.js
node_modules/sha.js/LICENSE
node_modules/sha.js/package.json
node_modules/sha.js/README.md
node_modules/sha.js/sha.js
node_modules/sha.js/sha1.js
node_modules/sha.js/sha224.js
node_modules/sha.js/sha256.js
node_modules/sha.js/sha384.js
node_modules/sha.js/sha512.js
node_modules/sha.js/test/hash.js
node_modules/sha.js/test/test.js
node_modules/sha.js/test/vectors.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
docker.env
tmp/new_relic.log
