<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= csrf_meta_tag() %>
  <%= live_title_tag assigns[:page_title] || "StreamClosedCaptionerPhoenix", suffix: " · Phoenix Framework" %>
  <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
  <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>

<body class="h-full pt-32 bg-gray-100">
  <%= thesis_editor(@conn) %>
  <header class="fixed top-0 left-0 right-0 z-30 px-2 py-4 bg-white shadow sm:px-4">
    <div class="container flex items-center justify-between mx-auto">
      <a href="/" title="StreamClosedCaptionerPhoenix Home Page" class="flex items-center text-xl text-gray-900">
        StreamClosedCaptionerPhoenix
      </a>
      <div class="flex items-center space-x-1">
        <div class="hidden md:inline-flex space-x-1">
          <%= link "Home", to: Routes.page_path(@conn, :index), class: "btn btn-sm btn-link" %>
        </div>
        <%= render "_user_menu.html", assigns %>
      </div>
    </div>
  </header>
  <%= @inner_content %>

  <%= render "_footer.html", assigns %>
</body>

</html>
