{
  "extends": [
    "airbnb-base",
    "adjunct"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-underscore-dangle": "off",
    "import/prefer-default-export": "off"
  }
}
