<!DOCTYPE html>
<html lang="en" style="background: transparent;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {csrf_meta_tag()}
    <.live_title>
      {assigns[:page_title] || "Captions"}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body style="background: transparent; margin: 0; overflow: hidden;">
    <main id="maincontent">
      {@inner_content}
    </main>
  </body>
</html>
