<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <.live_title suffix=" · Closed Captions">
      <%= assigns[:page_title] || "Stream Closed Captioner" %>
    </.live_title>
    <%= render_tags_all(assigns[:meta_tags] || %{}) %>
    <link rel="icon" href={~p"/images/favicon-32x32.png"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>

  <body class="h-full bg-gray-100 dark:text-white">
    <%= _header(assigns) %>

    <main role="main" class="container mx-auto mb-8 px-4 max-w-6xl">
      <p class="alert alert-info alert-left toast" role="alert">
        <%= Phoenix.Flash.get(@flash, :info) %>
      </p>
      <p class="alert alert-danger alert-left toast" role="alert">
        <%= Phoenix.Flash.get(@flash, :error) %>
      </p>

      <%= @inner_content %>
    </main>

    <%= _footer(assigns) %>
    <script
      data-goatcounter="https://guzman.goatcounter.com/count"
      async
      src="//gc.zgo.at/count.js"
    >
    </script>
  </body>
</html>
