<h1>Show Caption setting</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @caption_setting.name %>
  </li>

</ul>

<span><%= live_patch "Edit", to: Routes.caption_setting_show_path(@socket, :edit, @caption_setting), class: "button" %></span> |
<span><%= live_redirect "Back", to: Routes.caption_setting_index_path(@socket, :index) %></span>
