<h1>New Bits balance debit</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.bits_balance_debit_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.bits_balance_debit_path(@conn, :index) %></span>
