<h1>Edit Message</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.transcript_message_path(@conn, :update, @message.transcript_id, @message)) %>

<span><%= link "Back", to: Routes.transcript_message_path(@conn, :show, @message.transcript_id, @message) %></span>
