<h1>Edit Message</h1>

<%= render "form.html", Map.put(assigns, :action, ~p"/transcripts/#{@message.transcript_id}") %>

<span><%= link "Back", to: ~p"/transcripts/#{@message.transcript_id}" %></span>
