<h1>Show Bits balance debit</h1>

<ul>
  <li>
    <strong>User:</strong>
    <%= @bits_balance_debit.user_id %>
  </li>

  <li>
    <strong>Amount:</strong>
    <%= @bits_balance_debit.amount %>
  </li>
</ul>

<span><%= link("Back", to: ~p"/bits_balance_debits") %></span>
